h1{
    color:red;

}
p{color:green;
text-align: center;
font-family: italic;
}
ul{color: yellow;
list-style: none;
overflow: hidden;
background-color: aquamarine;
min-height: 60vh;}

li a{display: block;
}

div{background-color: aquamarine

}